# NOTE: Requires **VS2019 16.3** or later

# Rules for BookWiki.Presentation.Wpf
# Description: Code analysis rules for BookWiki.Presentation.Wpf.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.ad0001.severity=none


dotnet_diagnostic.cs0105.severity=none











dotnet_diagnostic.cs0251.severity=none



dotnet_diagnostic.cs0278.severity=none

dotnet_diagnostic.cs0279.severity=none

dotnet_diagnostic.cs0280.severity=none

dotnet_diagnostic.cs0282.severity=none

dotnet_diagnostic.cs0419.severity=none


dotnet_diagnostic.cs0435.severity=none

dotnet_diagnostic.cs0436.severity=none

dotnet_diagnostic.cs0437.severity=none

dotnet_diagnostic.cs0440.severity=none

dotnet_diagnostic.cs0458.severity=none

dotnet_diagnostic.cs0464.severity=none



dotnet_diagnostic.cs0472.severity=none

dotnet_diagnostic.cs0473.severity=none



dotnet_diagnostic.cs0626.severity=none



dotnet_diagnostic.cs0652.severity=none








dotnet_diagnostic.cs0675.severity=none

dotnet_diagnostic.cs0684.severity=none


dotnet_diagnostic.cs0728.severity=none

dotnet_diagnostic.cs0809.severity=none

dotnet_diagnostic.cs0811.severity=none

dotnet_diagnostic.cs0824.severity=none



dotnet_diagnostic.cs1062.severity=none

dotnet_diagnostic.cs1064.severity=none


dotnet_diagnostic.cs1072.severity=none















dotnet_diagnostic.cs1616.severity=none

dotnet_diagnostic.cs1633.severity=none

dotnet_diagnostic.cs1634.severity=none

dotnet_diagnostic.cs1635.severity=none

dotnet_diagnostic.cs1645.severity=none

dotnet_diagnostic.cs1658.severity=none

dotnet_diagnostic.cs1668.severity=none

dotnet_diagnostic.cs1685.severity=none

dotnet_diagnostic.cs1687.severity=none

dotnet_diagnostic.cs1690.severity=none

dotnet_diagnostic.cs1692.severity=none

dotnet_diagnostic.cs1695.severity=none

dotnet_diagnostic.cs1696.severity=none

dotnet_diagnostic.cs1697.severity=none

dotnet_diagnostic.cs1700.severity=none

dotnet_diagnostic.cs1701.severity=none

dotnet_diagnostic.cs1702.severity=none





dotnet_diagnostic.cs1718.severity=none

dotnet_diagnostic.cs1720.severity=none


dotnet_diagnostic.cs1734.severity=none

dotnet_diagnostic.cs1735.severity=none

dotnet_diagnostic.cs1762.severity=none

dotnet_diagnostic.cs1927.severity=none

dotnet_diagnostic.cs1956.severity=none


dotnet_diagnostic.cs1974.severity=none



dotnet_diagnostic.cs2002.severity=none

dotnet_diagnostic.cs2008.severity=none

dotnet_diagnostic.cs2023.severity=none

dotnet_diagnostic.cs2029.severity=none

dotnet_diagnostic.cs2038.severity=none

dotnet_diagnostic.cs3000.severity=none

dotnet_diagnostic.cs3001.severity=none

dotnet_diagnostic.cs3002.severity=none

dotnet_diagnostic.cs3003.severity=none

dotnet_diagnostic.cs3005.severity=none

dotnet_diagnostic.cs3006.severity=none

dotnet_diagnostic.cs3007.severity=none

dotnet_diagnostic.cs3008.severity=none

dotnet_diagnostic.cs3009.severity=none

dotnet_diagnostic.cs3010.severity=none

dotnet_diagnostic.cs3011.severity=none

dotnet_diagnostic.cs3012.severity=none

dotnet_diagnostic.cs3013.severity=none

dotnet_diagnostic.cs3014.severity=none

dotnet_diagnostic.cs3015.severity=none

dotnet_diagnostic.cs3016.severity=none

dotnet_diagnostic.cs3017.severity=none

dotnet_diagnostic.cs3018.severity=none

dotnet_diagnostic.cs3019.severity=none

dotnet_diagnostic.cs3021.severity=none

dotnet_diagnostic.cs3022.severity=none

dotnet_diagnostic.cs3023.severity=none

dotnet_diagnostic.cs3024.severity=none

dotnet_diagnostic.cs3026.severity=none

dotnet_diagnostic.cs3027.severity=none


dotnet_diagnostic.cs4024.severity=none

dotnet_diagnostic.cs4025.severity=none

dotnet_diagnostic.cs4026.severity=none

dotnet_diagnostic.cs7023.severity=none

dotnet_diagnostic.cs7033.severity=none

dotnet_diagnostic.cs7035.severity=none

dotnet_diagnostic.cs7080.severity=none

dotnet_diagnostic.cs7081.severity=none

dotnet_diagnostic.cs7082.severity=none

dotnet_diagnostic.cs7090.severity=none


dotnet_diagnostic.cs8001.severity=none

dotnet_diagnostic.cs8002.severity=none

dotnet_diagnostic.cs8009.severity=none

dotnet_diagnostic.cs8012.severity=none

dotnet_diagnostic.cs8018.severity=none

dotnet_diagnostic.cs8019.severity=none

dotnet_diagnostic.cs8020.severity=none

dotnet_diagnostic.cs8021.severity=none

dotnet_diagnostic.cs8029.severity=none

dotnet_diagnostic.cs8032.severity=none

dotnet_diagnostic.cs8033.severity=none

dotnet_diagnostic.cs8034.severity=none

dotnet_diagnostic.cs8040.severity=none

dotnet_diagnostic.cs8073.severity=none


dotnet_diagnostic.cs8105.severity=none


dotnet_diagnostic.cs8305.severity=none


dotnet_diagnostic.cs8359.severity=none

dotnet_diagnostic.cs8360.severity=none

dotnet_diagnostic.cs8371.severity=none


dotnet_diagnostic.cs8387.severity=none




dotnet_diagnostic.cs8512.severity=none

dotnet_diagnostic.cs8513.severity=none

dotnet_diagnostic.cs8519.severity=none

dotnet_diagnostic.cs8520.severity=none

dotnet_diagnostic.cs8524.severity=none





































dotnet_diagnostic.cs8669.severity=none
















dotnet_diagnostic.cs8778.severity=none

dotnet_diagnostic.cs8784.severity=none

dotnet_diagnostic.cs8785.severity=none

dotnet_diagnostic.cs8793.severity=none

dotnet_diagnostic.cs8794.severity=none

dotnet_diagnostic.cs8819.severity=none

dotnet_diagnostic.cs8824.severity=none

dotnet_diagnostic.cs8825.severity=none

dotnet_diagnostic.cs8846.severity=none

dotnet_diagnostic.cs8847.severity=none

dotnet_diagnostic.cs8848.severity=none

dotnet_diagnostic.cs8850.severity=none

dotnet_diagnostic.cs8851.severity=none

dotnet_diagnostic.cs8860.severity=none

dotnet_diagnostic.cs8880.severity=none

dotnet_diagnostic.cs8881.severity=none

dotnet_diagnostic.cs8882.severity=none

dotnet_diagnostic.cs8883.severity=none

dotnet_diagnostic.cs8884.severity=none

dotnet_diagnostic.cs8885.severity=none

dotnet_diagnostic.cs8886.severity=none

dotnet_diagnostic.cs8887.severity=none

dotnet_diagnostic.cs8897.severity=none

dotnet_diagnostic.cs8898.severity=none

dotnet_diagnostic.ide0001.severity=none

dotnet_diagnostic.ide0002.severity=none

dotnet_diagnostic.ide0003.severity=none

dotnet_diagnostic.ide0004.severity=none

dotnet_diagnostic.ide0005.severity=none

dotnet_diagnostic.ide0007.severity=none

dotnet_diagnostic.ide0008.severity=none

dotnet_diagnostic.ide0009.severity=none

dotnet_diagnostic.ide0010.severity=none

dotnet_diagnostic.ide0011.severity=none

dotnet_diagnostic.ide0016.severity=none

dotnet_diagnostic.ide0017.severity=none

dotnet_diagnostic.ide0018.severity=none

dotnet_diagnostic.ide0019.severity=none

dotnet_diagnostic.ide0020.severity=none

dotnet_diagnostic.ide0021.severity=none

dotnet_diagnostic.ide0022.severity=none

dotnet_diagnostic.ide0023.severity=none

dotnet_diagnostic.ide0024.severity=none

dotnet_diagnostic.ide0025.severity=none

dotnet_diagnostic.ide0026.severity=none

dotnet_diagnostic.ide0027.severity=none

dotnet_diagnostic.ide0028.severity=none

dotnet_diagnostic.ide0029.severity=none

dotnet_diagnostic.ide0030.severity=none

dotnet_diagnostic.ide0031.severity=none

dotnet_diagnostic.ide0032.severity=none

dotnet_diagnostic.ide0033.severity=none

dotnet_diagnostic.ide0034.severity=none

dotnet_diagnostic.ide0036.severity=none

dotnet_diagnostic.ide0037.severity=none

dotnet_diagnostic.ide0038.severity=none

dotnet_diagnostic.ide0039.severity=none

dotnet_diagnostic.ide0040.severity=none

dotnet_diagnostic.ide0041.severity=none

dotnet_diagnostic.ide0042.severity=none

dotnet_diagnostic.ide0043.severity=none

dotnet_diagnostic.ide0044.severity=none

dotnet_diagnostic.ide0045.severity=none

dotnet_diagnostic.ide0046.severity=none

dotnet_diagnostic.ide0047.severity=none

dotnet_diagnostic.ide0048.severity=none

dotnet_diagnostic.ide0049.severity=none

dotnet_diagnostic.ide0050.severity=none

dotnet_diagnostic.ide0051.severity=none

dotnet_diagnostic.ide0052.severity=none

dotnet_diagnostic.ide0053.severity=none

dotnet_diagnostic.ide0054.severity=none

dotnet_diagnostic.ide0055.severity=none

dotnet_diagnostic.ide0056.severity=none

dotnet_diagnostic.ide0057.severity=none

dotnet_diagnostic.ide0058.severity=none

dotnet_diagnostic.ide0059.severity=none

dotnet_diagnostic.ide0060.severity=none

dotnet_diagnostic.ide0061.severity=none

dotnet_diagnostic.ide0062.severity=none

dotnet_diagnostic.ide0063.severity=none

dotnet_diagnostic.ide0064.severity=none

dotnet_diagnostic.ide0065.severity=none

dotnet_diagnostic.ide0066.severity=none

dotnet_diagnostic.ide0070.severity=none

dotnet_diagnostic.ide0071.severity=none

dotnet_diagnostic.ide0072.severity=none

dotnet_diagnostic.ide0073.severity=none

dotnet_diagnostic.ide0074.severity=none

dotnet_diagnostic.ide0075.severity=none

dotnet_diagnostic.ide0076.severity=none

dotnet_diagnostic.ide0077.severity=none

dotnet_diagnostic.ide0078.severity=none

dotnet_diagnostic.ide0079.severity=none

dotnet_diagnostic.ide0080.severity=none

dotnet_diagnostic.ide0082.severity=none

dotnet_diagnostic.ide0083.severity=none

dotnet_diagnostic.ide1005.severity=none

dotnet_diagnostic.ide1006.severity=none

dotnet_diagnostic.re0001.severity=none

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_place_accessorholder_attribute_on_same_line=false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint

[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2
